{%- set e = s.file.inner.entity %}
{%- set ent = s.entities[e] %}
#pragma once
#include "{{ ent.snake_name }}/models/single_{{ ent.snake_name }}.h"
#include <QQmlEngine>

struct ForeignSingle{{ ent.pascal_name }}
{
    Q_GADGET
    QML_FOREIGN({{ s.global.application_pascal_name }}::DirectAccess::{{ ent.pascal_name }}::Single{{ ent.pascal_name }})
    QML_NAMED_ELEMENT(Single{{ ent.pascal_name }})
};