#pragma once

#include "error.h"
#include "{{ export_header_file }}"
#include <QObject>

namespace {{ application_cpp_domain_name }}::Controller
{

class {{ export }} ErrorSignals : public QObject
{
    Q_OBJECT
  public:
    explicit ErrorSignals(QObject *parent = nullptr) : QObject{parent}
    {
    }

  Q_SIGNALS:
    void warningSent(const {{ application_cpp_domain_name }}::Error &error);
    void errorSent(const {{ application_cpp_domain_name }}::Error &error);
};
} // namespace {{ application_cpp_domain_name }}::Controller
