#pragma once

#include "error.h"
#include "undo_redo/undo_redo_command.h"
#include "{{ export_header_file }}"
#include <QObject>

namespace {{ application_cpp_domain_name }}::Controller
{

class {{ export }} ProgressSignals : public QObject
{
    Q_OBJECT
  public:
    explicit ProgressSignals(QObject *parent = nullptr) : QObject{parent}
    {
    }

    void bindToProgressSignals({{ application_cpp_domain_name }}::Controller::UndoRedo::UndoRedoCommand *undoRedoCommand)
    {
        QObject::connect(undoRedoCommand, &{{ application_cpp_domain_name }}::Controller::UndoRedo::UndoRedoCommand::progressStarted, this,
                         &ProgressSignals::progressStarted, Qt::QueuedConnection);
        QObject::connect(undoRedoCommand, &{{ application_cpp_domain_name }}::Controller::UndoRedo::UndoRedoCommand::progressFinished, this,
                         &ProgressSignals::progressFinished, Qt::QueuedConnection);
        QObject::connect(undoRedoCommand, &{{ application_cpp_domain_name }}::Controller::UndoRedo::UndoRedoCommand::progressRangeChanged, this,
                         &ProgressSignals::progressRangeChanged, Qt::QueuedConnection);
        QObject::connect(undoRedoCommand, &{{ application_cpp_domain_name }}::Controller::UndoRedo::UndoRedoCommand::progressTextChanged, this,
                         &ProgressSignals::progressTextChanged, Qt::QueuedConnection);
        QObject::connect(undoRedoCommand, &{{ application_cpp_domain_name }}::Controller::UndoRedo::UndoRedoCommand::progressValueChanged, this,
                         &ProgressSignals::progressValueChanged, Qt::QueuedConnection);
    }

  Q_SIGNALS:
    void progressStarted();
    void progressFinished();
    void progressRangeChanged(int minimum, int maximum);
    void progressTextChanged(const QString &progressText);
    void progressValueChanged(int progressValue);
};
} // namespace {{ application_cpp_domain_name }}::Controller
