.item {
    display: flex;
    align-items: center;
    border-radius: var(--mantine-radius-sm);
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    padding-left: calc(var(--mantine-spacing-xs) - var(--mantine-spacing-md));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
    margin-bottom: calc(var(--mantine-spacing-xs) - 4px);
}

.listItem {
    display: flex;
    align-items: center;
    border-radius: var(--mantine-radius-sm);
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    padding-left: calc(var(--mantine-spacing-xs) - var(--mantine-spacing-md));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
    margin-bottom: calc(var(--mantine-spacing-xs) - 4px);
}

.itemDragging {
    box-shadow: var(--mantine-shadow-sm);
}

.symbol {
    font-size: 30px;
    font-weight: 700;
    width: 60px;
}

.dragHandle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
    padding-left: 0;
    padding-right: var(--mantine-spacing-md);
}
