[package]
name = "common"
version.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
thiserror = { workspace = true }
serde = { version = "1.0", features = ["derive"] }
redb = { workspace = true }
bincode = { version = "1" }
anyhow = { workspace = true }
flume = { workspace = true }

[lints]
workspace = true
