.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */


}

Text {
    cursor: default;
}

.cursor-grab {
    cursor: grab;
}

.cursor-edit {
    cursor: text;
}

.dragged-over {
    background-color: rgba(0, 0, 0, 0.1);
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
