.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard */
  
}

p,h1,h2,h3,h4,h5,h6,span,div,li,ul,ol,button,input,textarea {
  cursor: default;
}