#pragma once

#include "{{ export_header_file }}"
#include "error_signals.h"
{% for feature in features%}
#include "{{ feature.feature_name_snake }}/{{ feature.feature_name_snake }}_signals.h"
{% endfor %}
#include <QObject>

namespace {{ application_cpp_domain_name }}::Controller
{
class {{ export }} EventDispatcher : public QObject
{
    Q_OBJECT
  public:
    explicit EventDispatcher(QObject *parent);
    static EventDispatcher *instance();

    ErrorSignals *error() const;
{% for feature in features%}
    {{ feature.feature_name_pascal }}Signals *{{ feature.feature_name_camel }}() const;
{% endfor %}

  private:
    static EventDispatcher *s_instance;
    ErrorSignals *m_errorSignals;
{% for feature in features%}
    {{ feature.feature_name_pascal }}Signals *m_{{ feature.feature_name_camel }}Signals;
{% endfor %}

    EventDispatcher() = delete;
    EventDispatcher(const EventDispatcher &) = delete;
    EventDispatcher &operator=(const EventDispatcher &) = delete;
};
} // namespace {{ application_cpp_domain_name }}::Controller
